<div class="container">
  <h1>Staff Form</h1>
  <form #staffForm="ngForm" (ngSubmit)="onSubmit(staffForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input autocomplete="off" type="text" class="form-control" id="name" required [(ngModel)]="staff.name" name="name" #name="ngModel">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" required>
    </div>

    <div class="form-group">
      <label for="department">Department</label>
      
      <select class="form-control" id="department" required="required">
        <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
      </select>
      
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  {{ newStaff }}
</div>