<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/']">Home</a>
            <a class="nav-item nav-link" [routerLink]="['/staff']">Staff</a>
            <a class="nav-item nav-link" [routerLink]="['/login']">Login</a>
            <a class="nav-item nav-link" [routerLink]="['/todoapp']">Disabled</a>
            </div>
        </div>
    </nav>
</div>

<!-- <app-staff-form></app-staff-form> -->
<!-- <app-login-form></app-login-form> -->
<!-- <app-todo></app-todo> -->
<div class="container">
    <router-outlet></router-outlet>
</div>