<div *ngIf="todo">
    <form class="form" #formEdit="ngForm" (ngSubmit)="onUpdate()">
        <div class="row form-group">
            <label class="col"><span class="text-capitalize">todo name</span></label>
            <div class="col">
                <input class="form-control" type="text" name="todoTask" [(ngModel)]="todo.task">
            </div>
        </div>
        <div class="row form-group">
            <label class="col"><span class="text-capitalize">status</span></label>
            <div class="col">
                <select class="form-control" required="required" name="todoStatus" [(ngModel)]="todo.status">
                    <option [ngValue]="false">In Progress</option>
                    <option [ngValue]="true">Done</option>
                </select>
            </div>
        </div>
        <div class="row form-group justify-content-md-center">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>